OPENWEATHER_API_KEY=your_openweather_api_key
FIREBASE_CREDENTIALS_PATH=predictive-sis-firebase-adminsdk-fbsvc-ad13aadf29.json
FIREBASE_DATABASE_URL=https://your-project-default-rtdb.asia-southeast1.firebasedatabase.app/
